apiVersion: machineconfiguration.openshift.io/v1
kind: MachineConfig
metadata:
  labels:
    machineconfiguration.openshift.io/role: worker
  name: worker-storage-encryption
spec:
  config:
    ignition:
      version: 3.2.0
    storage:
      filesystems:
        - device: {{ luks_filesystem_device }}
          format: {{ luks_format }}
          label: {{ luks_name }}
          wipeFilesystem: {{ luks_wipeFileSystem }}
      luks:
        - clevis:
            tang:
{% for item in luks_config  %}
{% if item.thumbprint != null && item.url != null %}
              - thumbprint: {{ item.thumbprint}}
                url: {{ item.url }}
{% endif %}
{% endfor %}
            threshold: 1
          device: {{ luks_device }}
          label: {{ luks_label }}
          name: {{ luks_name }}
          options:
{% for item in luks_options %}
            - {{ item }}
{% endfor %}
          wipeVolume: {{ luks_wipeVolume }}
  fips: true
